{#  -*- mode: jinja2; coding: utf-8; -*- #}

{% macro cocbits() %}
	<h4>
		<a href="https://twitter.com/ACCUConf">@ACCUConf</a>
		<a href="https://twitter.com/hashtag/ACCUConf">#ACCUConf</a>
		<a href="/rss.xml"><img class="img-responsive img-float-right" src="/assets/images/feed-icon-28x28.png" alt="RSS icon"></a>
	</h4>
	<h3>
		<a href="/coc_code_of_conduct.html">Code of Conduct</a>
	</h3>
	<br/>
{% endmacro %}

{% macro registerbutton() %}
	<a href="https://web.cvent.com/event/b02cb201-20c2-4ee4-8d8d-09b92ac2a80f/summary"><img class="img-responsive img-float-center" src="/assets/images/register_2020_80x50.png" alt="Register icon"></a>
{%endmacro %}

{% macro dates() %}
	<b>Call for Proposals:</b> <br/>
		2019-10-04 to <br/>
		2019-10-25 <br/>
	<b>Notification Date:</b> <br/>
		2020-01-18 <br/>
	<b>Schedule Announcement:</b> <br/>
		2020-01-25 <br/>
	<b>Workshops Day:</b> <br/>
		2020-03-24 <br/>
	<b>Conference: </b><br/>
		2020-03-25 to <br/>
		2020-03-28<br/>
{% endmacro %}

{#
{% macro dates_2019_autumn() %}
	<b>Call for Proposals:</b> <br/>
		2019-05-10 to <br/>
		2019-06-16 <br/>
	<b>Conference: </b><br/>
		2019-11-11 to <br/>
		2019-11-12<br/>
{% endmacro %}
#}

{% macro location() %}
	<p><a href="http://www.marriott.co.uk/hotels/travel/brsdt-bristol-marriott-hotel-city-centre/">Bristol Marriott Hotel City Centre</a></p>
<p>
	2 Lower Castle Street<br/>
	Old Market<br/>
	Bristol<br/>
	England BS1 3AD<br/>
	United Kingdom
</p>
{% endmacro %}

{#
{% macro location_2019_autumn() %}
	<!-- p><a href="https://www3.hilton.com/en/hotels/united-kingdom/hilton-belfast-BFSHITW/index.html">Hilton Hotel</a></p>
	<p>
		4 Lanyon Place <br/>
		Belfast <br/>
		BT1 3LP <br/>
		United Kingdom
	</p>
	<p>Tel: +44 28 9027 7000</p -->
{% endmacro %}
#}

{% macro sponsors() %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Headline Sponsor</h3>
		</div>
		<div class="panel-body">
			<p><a href="https://www.techatbloomberg.com/"><img src="/assets/images/2020_SponsorLogos/bloomberg_logo.jpg" alt="Bloomberg Logo" class="img-responsive img-rounded center-block"/></a></p>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Sponsors</h3>
		</div>
		<div class="panel-body">
			<!-- p><a href="https://www.graphcore.ai/"><img src="/assets/images/2019_SponsorLogos/Graphcore_Wordmark_-_Brand_Colour_2x.png" alt="Graphcore Logo" class="img-responsive img-rounded center-block"></a></p>
			<br/ -->
			<p><a href="https://www.jetbrains.com/"><img src="/assets/images/2020_SponsorLogos/Jetbrains.png" alt="JetBrains Logo" class="img-responsive img-rounded center-block"/></a></p>
			<br/>
			<!--p><a href="https://www.conan.io/"><img src="/assets/images/2019_SponsorLogos/conan_logo.png" alt="JFrog Conan Logo" class="img-responsive img-rounded center-block"/></a></p>
			<br/>
			<p><a href="https://www.jumptrading.com/"><img src="/assets/images/2019_SponsorLogos/JumpTrading-Logo.png" alt="Jump Trading Logo" class="img-responsive img-rounded center-block"/></a></p>
			<br/ -->
			<p><a href="https://mosaic.fm/"><img src="/assets/images/2020_SponsorLogos/MosaicLogo.png" alt="Mosaic Logo" class="img-responsive img-rounded center-block"/></a></p>
			<br/>
			<p><a href="https://think-cell.com/accu"><img src="/assets/images/2020_SponsorLogos/tc_logo_A4.jpg" alt="ThinkCell Logo" class="img-responsive img-rounded center-block"/></a></p>
			<br/>
			<!-- p><a href="http://www.qbssoftware.com/products/Intel_Parallel_Studio_XE/overview/_prodintelparxe"><img src="/assets/images/2019_SponsorLogos/QBS.png" alt="QBS Logo" class="img-responsive img-rounded center-block"></a></p>
			<br/>
			<p><a href="https://www.riverblade.co.uk/"><img src="/assets/images/2019_SponsorLogos/Riverblade.png" alt="Riverblade Logo" class="img-responsive img-rounded center-block"></a></p>
			<br/>
			<p><a href="http://undo.io/"><img src="/assets/images/2019_SponsorLogos/Undo_logo-tagline-colour-rgb.png" alt="Undo Logo" class="img-responsive img-rounded center-block"/></a></p -->
		</div>
	</div>
{% endmacro %}

{% macro community_sponsors() %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Community Sponsors</h3>
		</div>
		<div class="panel-body">
			<p><a href="https://cpponsea.uk"><img src="/assets/images/2020_SponsorLogos/cpponsea-logo-text.svg" alt="C++ on Sea Logo" class="img-responsive img-rounded centre-block"/></a></p>
			<br/>
			<p><a href="https://www.includecpp.org"><img src="/assets/images/2020_SponsorLogos/includeC++.svg" alt="include<C++> Logo" class="img-responsive img-rounded centre-block"/></a></p>
			<br/>
			<p><a href="https://www.khronos.org/"><img src="/assets/images/2020_SponsorLogos/Khronos_logo.jpg" alt="Khronos Group Logo" class="img-responsive img-rounded centre-block"/></a></p>
		</div>
	</div>
{% endmacro %}

{% macro committee() %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Programme Committee ACCU 2020</h3>
		</div>
		<div class="panel-body">
			<p>
				Russel Winder (Chair)<br/>
				Felix Petriconi (Deputy Chair) <br/>
				Gail Ollis <br/>
				Roger Orr <br/>
				CB Bailey <br/>
				Anastasia Kazakova <br/>
				Jon Kalb <br/>
				Francis Glassborow <br/>
				Timur Doumler <br/>
				Guy Davidson <br/>
			</p>
		</div>
	</div>
{% endmacro %}

{#
{% macro committee_2019_autumn() %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Programme Committee ACCU Autumn 2019</h3>
		</div>
		<div class="panel-body">
			<p>
				Jamie Allsop (Chair)<br/>
				Roger Orr (Deputy Chair)<br/>
				Chris Kohlhoff<br/>
				Felix Petriconi<br/>
				Garth Gilmour<br/>
				Timur Doumler<br/>
				John McFarlane<br/>
			</p>
		</div>
	</div>
{% endmacro %}
#}

{% macro organiser() %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Organiser</h3>
		</div>
		<div class="panel-body">
			<a href="http://www.archer-yates.co.uk/">
				<img class="img-float-right" src="/assets/images/AYA_holding.png" width="50" alt="AYALogo"/>
			</a>
			<a href="http://www.archer-yates.co.uk/">
				<h4> Archer Yates Ltd </h4>
			</a>
			<p>
				7 Threshers Yard <br/>
				West Street <br/>
				Kingham <br/>
				Oxfordshire OX7 6YF <br/>
				<br/>
				Telephone: +44 1608 659900 <br/>
				Fax: +44 1608 659911 <br/>
				Email: accu@archer-yates.co.uk <br/>
			</p>
		</div>
	</div>
{% endmacro %}

{% macro current_menu() %}
	<nav class="navbar navbar-default accuconf-menu">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-navbar" aria-expanded="false" aria-controls="bs-navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span>
					<a class="navbar-brand" href="/"> {{blog_title|e }} </a>
				</span>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-navbar" aria-expanded="false">
				<ul class="nav navbar-nav" id="navigation-links">
					<li><a href="/news/index.html">News</a></li>
					<li><a href="/2020/keynotes.html">ACCU 2020 Keynotes</a></li>
					<li><a href="/2020/preconference_workshops.html">ACCU 2020 Preconference Workshops</a></li>
					<li><a href="/lead_presenter_deals.html">ACCU 2020 Lead Presenter Deals</a></li>
					<!-- li><a href="https://flame.firebird.systems/archer-yates/ACCU2020/">ACCU 2020 Call For Proposals Submission Website </a></li -->
					<li><a href="/marriott_floorplan.html">ACCU 2020 Conference Floorplan</a></li>
					<li><a href="/pacman_rule.html">The Pac-Man Rule</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Previous ACCUConfs <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/2019_Autumn/accu_autumn2019.html"><b>Autumn 2019</b></a>
								<ul>
									<li><a href="/2019_Autumn/schedule.html">Schedule</a></li>
									<li><a href="/2019_Autumn/presenters.html">Presenters</a></li>
									<li><a href="/2019_Autumn/sessions.html">Sessions</a></li>
									<li><a href="/2019_Autumn/dates_and_location.html">Dates and Location</a></li>
									<!--li><a href="/2019_Autumn/suggestions.html">Suggestions</a></li-->
								</ul>
							</li>
							<li>
								<a href="/2019/accu2019.html"><b>2019</b></a>
								<ul>
									<li><a href="/2019/schedule.html">Schedule</a></li>
									<li><a href="/2019/presenters.html">Presenters</a></li>
									<li><a href="/2019/sessions.html">Sessions</a></li>
									<li><a href="/2019/keynotes.html">Keynotes</a></li>
									<li><a href="/2019/prices.html">Prices</a></li>
									<li><a href="/2019/dates_and_location.html">Dates and Location</a></li>
									<li><a href="/2019/programme_committee_and_organisers.html">Programme Committee and Organisers</a></li>
									<li><a href="/2019/sponsors_and_exhibitors.html">Sponsors</a></li>
									<li><a href="/2019/attender_reports.html">Attender Reports</a></li>
								</ul>
							</li>
							<li>
								<a href="/2018/accu2018.html"><b>2018</b></a>
								<ul>
									<li><a href="/2018/schedule.html">Schedule</a></li>
									<li><a href="/2018/presenters.html">Presenters</a></li>
									<li><a href="/2018/sessions.html">Sessions</a></li>
									<li><a href="/2018/keynotes.html">Keynotes</a></li>
									<li><a href="/2018/prices.html">Prices</a></li>
									<li><a href="/2018/programme_committee_and_organisers.html">Programme Committee and Organisers</a></li>
									<li><a href="/2018/sponsors_and_exhibitors.html">Sponsors</a></li>
									<li><a href="/2018/attender_reports.html">Attender Reports</a></li>
								</ul>
							</li>
							<li>
								<a href="/2017/accu2017.html"><b>2017</b></a>
								<ul>
									<li><a href="/2017/schedule.html">Schedule</a></li>
									<li><a href="/2017/presenters.html">Presenters</a></li>
									<li><a href="/2017/sessions.html">Sessions</a></li>
									<li><a href="/2017/fulldayworkshops.html">Pre-conference Workshops</a></li>
									<li><a href="/2017/keynotes.html">Keynotes</a></li>
									<li><a href="/2017/programme_committee_and_organisers.html">Programme Committee and Organisers</a></li>
									<li><a href="/2017/sponsors.html">Sponsors</a></li>
								</ul>
							</li>
							<li>
								<a href="/2016/accu2016.html"><b>2016</b></a>
								<ul>
									<li><a href="/2016/schedule.html">Schedule</a></li>
									<li><a href="/2016/presenters.html">Presenters</a></li>
									<li><a href="/2016/sessions.html">Sessions</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
{% endmacro %}

{% macro countdown() %}
	<div class='cvt-main-app' data-widget-url='www.cvent.com/d/wvqv91/6V'>
		<script type='text/javascript'>
			window.cvtDomain = 'www.cvent.com'
			var cventWidgetLoaderScript = document.createElement('script')
			var numberOfHoursFrom1970 = new Date().getTime() / (3600 * 1000)
			cventWidgetLoaderScript.src = '//www.cvent.com/g/mobile/javascript/widget-loader.js?versioninhrs=' + numberOfHoursFrom1970
			document.getElementsByTagName('head')[0].appendChild(cventWidgetLoaderScript)
		</script>
	</div>
{% endmacro %}
